body {
	
	/*background: url('../image.jpeg');*/
	/*background: #00CC99;*/
	/*background-size: cover;*/
	background-repeat: no-repeat;
	height: 100%;
}
.container {
	text-align: center;
	margin: 0 auto;
	margin-top: 5em;
	width: 400px;
	/*height: 200px;*/
}
#quote {
	color: #fff;
	font-family: 'Merienda';
	font-size: 2em;
	margin: 1em 1em 1em 1em;

}
#quote-author {
	color: #fff;
	font-size: 1.2em;
	font-family: 'Open Sans';
	/*font-style: italic;*/
	margin: 1em 1em 1em 1em;
}

.button-wrapper {

	margin: 0 auto;

	margin-top: 2em;
	text-align: center;
	/*margin-bottom: 100px;*/

}
/*#newQuote {

	border: 0px;
	background: #eee;
	padding: 1em;
	border-radius: 5px;
	font-size: 1em;
	font-family: 'Open Sans';
	font-weight: bold;
	color: green;
	letter-spacing: 0.1em;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(116,116,116,1);
	-moz-box-shadow: 0px 10px 20px 0px rgba(116,116,116,1);
	box-shadow: 0px 10px 20px 0px rgba(116,116,116,1);
}
#newQuote:hover {
	background: white;
	color: green;
	cursor: pointer;
}*/
#nextImage {
	width: 30px;
	height: 30px;
}

.socialIcons {
	text-align: center;


}
#tweetBtn {
	background: white;
	border-radius: 50%;

	display: inline;
}
.fa-twitter{
	background: white;
	color: #1DA1F2;
	border-radius: 10%;
	padding: .2em;
}